@use '../abstracts/variables.scss';

html, body {
  display: flex;
  // align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--background-color);
}

#root {
    width: 100%;
    // margin: 0 auto;
    // padding: 2rem;
    // text-align: center;
   
  .App { 
    // background-color: #c99d9d20;
    width: 100%;
    max-width: 3000px;
    min-width: 320px;
    .main-content-block {
      width: 100%;
      margin-top: 6rem;
    //   flex-grow: 1;
    //   max-width: 3000px;
    //   margin: 7.5rem auto;
    //   padding: 1rem;

    //   @include mixins.breakpoint(375px) {
        
    //   }
    }
  }
}

.no_scroll {
  overflow: hidden;
}

//Themes
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}