@use '../../../../assets/styles/abstracts/mixins.scss' as mixins;

@font-face {
    font-family: "Oooh Baby";
    src: url('../../../../assets/fonts/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf') format('truetype');
}

#feedback_form {
    // width: 100%;
    h2 {
        font-family: "Roboto Flex", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-size: 2.3rem;
        font-style: normal;
        color: #f7d80c8f;
        margin-bottom: 1.2rem;
        font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;

        @include mixins.max-width(sm) {
            font-size: 2rem;
        }

        @include mixins.width-rage(md, lgn) {
            font-size: 1.9rem;
        }

    }
    .form_group {
        font-family: "Roboto Flex", sans-serif;
        font-weight: 600;
        #comments {
            width: 100%;
            color: var(--color);
        }
        label {
            margin-right: 1rem;
        }
        #email {
            color: var(--color);
            
            @include mixins.max-width(sm) {
                margin-top: 1rem;
            }

            @include mixins.width-rage(md, lgn) {
                margin-top: 1rem;
            }
        }

    }
}