@use '../../../assets/styles/abstracts/mixins.scss' as mixins;

@font-face {
    font-family: "Oooh Baby";
    src: url('../../../assets/fonts/OoohBaby-Regular.ttf') format('truetype');
}

/* Container/Background Styles */
.neon-flash-app-container {
    background-color: var(--background-color); 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    margin: 0;
    font-family: "Oooh Baby";
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    width: 50%; 
    @include mixins.max-width(sm) {
        width: 100%;
    }
}

.neon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.8; 
}

.word {
    font-size: 8rem;
    padding: 0 1rem;
    position: relative;
    color: transparent; 
    text-shadow: none; 
    @include mixins.max-width(sm) {
        font-size: 6rem;
    }

    @include mixins.width-rage(md, lg) {
        font-size: 6.4rem;
    }
}

.letter {
    display: inline-block; 
    transition: all 0.1s ease-in-out; 
}


/* --- Color Variables and Definitions (These classes will be outside the module import 
       but the styles still work as they set CSS custom properties) --- */

/* Yellow (Road Marking) */
.rock, .rolls {
    --light-color: #f7d90c; 
}

/* Red (Blood) */
.still {
    --light-color: #c21113; 
}


/* --- The "Light On" State --- */

.flash-on {
    /* Tube body is now bright white */
    color: #ffffff !important; 

    /* Soft, diffused glow */
    text-shadow: 
        0 0 5px var(--light-color), 
        0 0 15px var(--light-color), 
        0 0 30px var(--light-color),
        0 0 50px var(--light-color) !important; 
    
    transition: all 0s; 
}