@use '../../../assets/styles/abstracts/mixins.scss' as mixins;

/* Подключение шрифта Oooh Baby */
@font-face {
    font-family: "Oooh Baby";
    src: url('../../../assets/fonts/OoohBaby-Regular.ttf') format('truetype');
}

/* Основной контейнер приложения */
.neon-flash-app-container {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    margin: 0;
    font-family: "Oooh Baby";
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    width: 50%;
    
    /* Адаптивность для маленьких экранов */
    @include mixins.max-width(sm) {
        width: 100%;
    }
}

/* Контейнер для неонового текста */
.neon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.8;
}

/* Стили для слова */
.word {
    font-size: 8rem;
    padding: 0 1rem;
    position: relative;
    color: transparent;
    text-shadow: none;
    
    /* Адаптивность для маленьких экранов */
    @include mixins.max-width(sm) {
        font-size: 6rem;
    }

    /* Адаптивность для средних экранов */
    @include mixins.width-rage(md, lg) {
        font-size: 6.4rem;
    }
}

/* Стили для отдельной буквы */
.letter {
    display: inline-block;
    transition: all 0.1s ease-in-out;
}

/* --- Переменные цветов и определения --- */

/* Желтый цвет (дорожная разметка) для слов "ROCK" и "ROLLS" */
.rock, .rolls {
    --light-color: #f7d90c;
}

/* Красный цвет (кровь) для слова "STILL" */
.still {
    --light-color: #c21113;
}

/* --- Состояние "Свет включен" --- */

.flash-on {
    /* Тело трубки теперь ярко-белое */
    color: #ffffff !important;

    /* Мякое, рассеянное свечение */
    text-shadow: 
        0 0 5px var(--light-color),
        0 0 15px var(--light-color),
        0 0 30px var(--light-color),
        0 0 50px var(--light-color) !important;
    
    /* Мгновенный переход для эффекта мерцания */
    transition: all 0s;
}
