@use '../../../assets/styles/abstracts/mixins' as mixins;

.nav_block {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    display: flex;  
    flex-direction: row;
    position: relative;
    // left: 20%;
    .nav_links {
        display: flex;
        flex-direction: row;
        margin: auto;

        @include mixins.max-width(sm) {
            padding: 0;
            width: 100%;
        }
        li {
            font-size: medium;
            padding: 0;
            a {
                color: var(--color);
                padding: 1.1rem 2.1rem 1.1rem 2.1rem;
                &:hover {
                    background-color: var(--hover-link-background-color);
                    color: var(--hover-link-color);
                    transition: 1s;
                }

                @include mixins.max-width(sm) {
                    padding: 0;
                    font-size: 0.8rem;
                    
                }

                @include mixins.width-rage(md, lg) {
                    padding: 0;
                }
            }
        }
    }

    @include mixins.max-width(sm) {
        display: none;
    }

    .footer_links_flex_direction {
        flex-direction: column;
    }
}

.show_footer_links {
    width: 20%;
    @include mixins.max-width(sm) {
        width: 30%;
        display: flex;
    }
}

.show_ham_menu_links {
    a {
        font-size: 2rem !important;
    }
    @include mixins.max-width(sm) {
        display: flex;
        margin: auto;
        
    }
   
}

