.closeButton_block {
  display: flex;
  justify-content: flex-end; // Выравнивание кнопки по правому краю
  
  .closeButton {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    color: #f3f4f6;
    cursor: pointer;
    transition: all 0.2s ease;

    // Эффект при наведении
    &:hover {
      background-color: #f3f4f6;
      color: #374151;
    }

    // Эффект при нажатии
    &:active {
      background-color: #e5e7eb;
      transform: scale(0.95);
    }

    // Стили для иконки крестика
    svg {
      width: 20px;
      height: 20px;
    }
  }
}
