.comment_form {
    background-color: var(--hover-link-background-color);
    padding: 15px;
    border-radius: 0.8rem;
    margin-bottom: 30px;

    .header {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 0.9em;
        color: #555;
        
        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 10px;
            border: 2px solid #ddd;
        }

        p {
            margin-bottom: 0;
            font-size: 1.3rem;
        }
    }

    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 0.8rem;
        resize: vertical;
        min-height: 80px;
        box-sizing: border-box; /* Важно для padding */
        font-size: 1em;
        margin-bottom: 10px;
        background-color: var(--background-color);
        color: var(--color);

        &:focus {
            box-shadow: 0 0 5px rgba(204, 0, 0, 0.2);
        }
    }

    button[type="submit"] {
        background-color: #c21113;
        color: var(--color);
        border: none;
        padding: 8px 15px;
        border-radius: 0.8rem;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.2s;
        
        &:hover:not(:disabled) {
            background-color: #990000;
        }
        
        &:disabled {
            background-color: #aaa;
            cursor: not-allowed;
        }
    }
}

.login_prompt {
    color: #888;
    font-style: italic;
    font-size: 1rem;
    padding: 10px;
    border: 1px dashed #ccc;
    border-radius: 4px;
    text-align: center;
}