.footer {
    position: relative;
    bottom: 0;
    display: flex;
    outline: 2px solid #f7d80c8f;
    border-radius: 2rem;
    margin: 2rem 0.1rem 0.1rem 0.1rem;
    padding: 1.5rem;
    flex-direction: column;

    .privacy_policy {
        color: var(--color);
        font-size: 0.75rem;
        margin: auto;
    }
}