.hamburger_menu_field_container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(20px) contrast(80%);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    display: none; // По умолчанию скрыто
}

/* Класс для отображения меню */
.show {
    display: flex; // Показываем меню при добавлении класса
}
