.edit_container {
    z-index: 1;
    position: fixed;
    overflow: scroll;
    width: 100vw;
    height: 100vh;
    // top: 1px;
    left: 0;
    bottom: 0;
    // height: 100vh;
    outline: 1px solid black;
    // margin: auto;
    display: none;
    flex-direction: column;
    background-color: rgba(43, 40, 40, 0.795);
    backdrop-filter: blur(20px) contrast(80%);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.show {
    display: flex;
}